<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Almundo</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body ng-app="almundo">
	<div class="container-fluid">
		<div class="row">
			<nav class="col-12 main-nav">
				<img class="logo" src="/assets/images/logo-almundo.svg" alt="almundo">
			</nav>
			<div class="col-12 content" ng-controller="HotelController as hc">
				<div class="row">
					<div class="col-12 col-lg-3 p-sm-0">
						<div class="sidebar"><!--Begin sidebar-->
							<div class="sidebar-widget">
								<h4 class="title-1 hidden-sm">Filtros</h4>
								<h4 class="title-1 font-blue text-center hidden-lg">Filtrar
									<span class="filter-btn" ng-if="hc.show_filters" ng-click="hc.show_filters=false">
										<object type="image/svg+xml" data="/assets/icons/filters/arrow-up.svg" class="icon">toggle</object>
									</span>
									<span class="filter-btn" ng-if="!hc.show_filters" ng-click="hc.show_filters=true">
										<object type="image/svg+xml" data="/assets/icons/filters/arrow-down.svg" class="icon">toggle</object>
									</span>
								</h4>
							</div>
							<div ng-if="hc.show_filters">
								<div class="sidebar-widget">
									<div class="row">
										<div class="col-12">
											<h4 class="title-2 font-blue">
											<object type="image/svg+xml" data="/assets/icons/filters/search.svg" class="icon">
												Buscar
											</object> Nombre de hotel
											<span class="toggle-btn" ng-if="hc.show_search" ng-click="hc.show_search=false">
												<object type="image/svg+xml" data="/assets/icons/filters/arrow-up.svg" class="icon">
													toggle
												</object>
											</span>
											<span class="toggle-btn" ng-if="!hc.show_search"  ng-click="hc.show_search=true">
												<object type="image/svg+xml" data="/assets/icons/filters/arrow-down.svg" class="icon">
													toggle
												</object>
											</span>
											</h4>
										</div>
										<div class="col-12" ng-if="hc.show_search">
											<div class="row">
												<div class="col-8">
													<input class="form-input" type="text" placeholder="Ingrese el nombre del hotel" ng-model="hc.name">
												</div>
												<div class="col-4 no-padding">
													<button class="btn" ng-click="hc.search()">Aceptar</button>
												</div>											
											</div>
										</div>
									</div>
								</div>
								<div class="sidebar-widget">
									<div class="row">
										<div class="col-12">
											<h4 class="title-2 font-blue">
											<object type="image/svg+xml" data="/assets/icons/filters/starblue.svg" class="icon">
												Estrella
											</object> Estrellas
											<span class="toggle-btn" ng-if="hc.show_stars" ng-click="hc.show_stars=false">
												<object type="image/svg+xml" data="/assets/icons/filters/arrow-up.svg" class="icon">
													toggle
												</object>
											</span>
											<span class="toggle-btn" ng-if="!hc.show_stars"  ng-click="hc.show_stars=true">
												<object type="image/svg+xml" data="/assets/icons/filters/arrow-down.svg" class="icon">
													toggle
												</object>
											</span>
											</h4>
										</div>
										<div class="col-12" ng-if="hc.show_stars">
											<ul class="star-list">
												<li ng-repeat="star in hc.stars">
													<label class="checkbox-label" for="radio-{{star}}">
													<input type="radio"
										            	ng-model="hc.selected_star"
										            	ng-value="star"
										            	ng-click="hc.search()"
										            	id="radio-{{star}}"
										            	name="selected_star">
														<span class="checkbox"></span> <b ng-if="star == 0">Todas las estrellas</b>
														<object type="image/svg+xml" data="/assets/icons/filters/star.svg" class="icon-star" ng-if="star != 0" ng-repeat="s in hc.elements(star) track by $index">
															Estrella
														</object>
													</label>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div><!--End sidebar-->
					</div>
					<div class="col-12 col-lg-9">
						<div class="hotel-container">
							<hotel ng-repeat="hotel in hc.list"></hotel><!--Hotel Component-->
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<script src="/js/app.js"></script>
</body>
</html>