<!-- Hotel component -->
<div class="row hotel-detail">
	<div class="col-12 col-md-4 col-padding">
		<img class="hotel-img" ng-src="{{('/assets/images/hotels/'+hotel.image)}}" onerror="this.src='/assets/images/hotel-default.svg'" alt="{{hotel.name}}">
	</div>
	<div class="col-12 col-md-5 col-padding">
		<h1 class="title-1 font-blue">{{hotel.name}}</h1>
		<div>
			<object type="image/svg+xml" data="/assets/icons/filters/star.svg" class="icon-star" ng-repeat="star in hc.elements(hotel.stars) track by $index">
				Estrella
			</object>		
		</div>
		<div class="amenities-container">
			<object ng-repeat="amenitie in hotel.amenities track by $index" type="image/svg+xml" ng-attr-data="/assets/icons/amenities/{{amenitie}}.svg" class="icon-amenitie">
				{{amenitie}}
			</object>
		</div>								
	</div>
	<div class="col-12 col-md-3 col-padding">
		<div class="price-container">
			<h5 class="price-label">Precio por noche por <br class="hidden-sm">habitación</h5>
			<h1 class="price-detail"><small>ARS</small><span>{{hotel.price}}</span></h1>
			<button class="btn btn-lg">Ver hotel</button>
		</div>
	</div>
</div>