/* GENERAL */

html, body {
	min-height: 100vh;
	background-color: #f4f4f4;
}

.title-1{
	font-size: 17px;
	font-weight: bolder;
	margin: 0px;
}

.title-2{
	font-size: 14px;
	font-weight: bolder;
	margin: 5px 0px;
	clear: both;
}

.font-blue{
	color: #1c8cc7;	
}

.icon-star{
	height: 17px;
    margin-right: 4px;
    pointer-events: none;
}

.no-padding{
	padding: 0px;
}

.btn{
    margin: 9px 4px 0px;
    height: 35px;
    background-color: #002C77;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid #01173C;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
    padding: 0px 9px;
    font-weight: 400; 
}

.btn:focus {
  outline: none;
}

.btn:active{
	border-bottom: none;
	margin-top: 11px;
}

.btn-lg{
	padding: 5px 47px;
    height: auto;
    font-size: 21px;
    font-weight: 600; 
}

.w-100{
	width: 100%;
}

.col-padding{
	padding: 7px;
}

.text-center{
	text-align: center;
}

.hidden-lg{
	display: none;
}

/* NAV */

.main-nav{
	background: linear-gradient(to right, #002e74, #02377b);
	box-shadow: 0px 3px #3d6395;
	height: 87px;
    padding: 0px;
    z-index: 1;
}

.logo{
    height: 51px;
    margin: 17px 9px;
}

/* SIDEBAR */

.sidebar{
	margin: 27px 0px 20px 12px;
	width: 100%;
}

.sidebar-widget{
	background-color: #FFFFFF;
	border-bottom: 5px solid #f4f4f4;
	box-shadow: 0px 2px 6px #DDDDDD;
	padding: 9px 15px 9px 15px;
	width: 100%;
	box-sizing: border-box;
}

.icon{
	height: 16px;
	margin-right: 5px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-input{
	margin: 10px 0px 3px;
    padding: 4px 8px;
    font-size: 15px;
    width: 100%;
}

.star-list{
	margin: 16px 0px;
    list-style: none;
    padding: 0px;
}

.star-list li{
	font-size: 14px;
    margin: 6px 0px;
}

.star-list li input{
	margin-right: 2px;
}

.toggle-btn{
	float: right;
}

.toggle-btn .icon{
	height: 7px;
    vertical-align: super;
}

.filter-btn{
	
}

.filter-btn .icon{
	height: 7px;
}

.checkbox-label{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #BBBBBB inset;
    vertical-align: baseline;
    margin-right: 6px;
}

input[type=radio]{
	display: none;
}

input[type=radio]:checked ~ .checkbox  {
	background-image: url(/assets/icons/filters/checked.jpg);
    background-size: contain;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 1px 2px #DDDDDD inset;
}

/* HOTEL COMPONENT */

.hotel-container{
	margin: 27px 0px;
	width: 100%;
}

.hotel-detail{
	background-color: #FFFFFF;
	box-shadow: 0px 2px 6px #DDDDDD;
	padding: 0px;
	width: 100%;
	box-sizing: border-box;
	margin: 0px 0px 20px 0px;
}

.hotel-img{
	height: 212px;
	object-fit: cover;
	width: 100%;
}

.icon-amenitie{
	height: 20px;
    margin: 2px 20px 2px 0px;
}

.amenities-container{
	width: 100%;
	padding: 5px 0px;
}

.price-container{
	border-left: 1px dashed #CCC;
	width: 100%;    
    min-height: 210px;
    height: 100%;
    text-align: center;
}

.price-label{
	color: #555;
    font-weight: 500;
    padding: 24px 0px 0px;
}

.price-detail{
	color: #E26602;
    font-size: 35px;
    margin: 0px;
    font-weight: 700;
}

.price-detail small{
    font-weight: 400;
}

.img-hotel{
	max-height: 212px;
	width: auto;
}

/* MEDIA QUERIES FOR MOBILE*/

@media (max-width: 576px) {

	.hidden-sm{
		display: none;
	}

	.hidden-lg{
		display: block;
	}
	
	.main-nav{
		height: 60px;
	}

	.logo{
	    height: 32px;
	    margin: 17px 16px;
	}

	.p-sm-0{
		padding: 0px;
	}

	.sidebar{
		margin: 0px;
		width: 100%;
	}

	.price-container{
		border-left: none;
		border-top: 1px dashed #CCC;
	}

	.btn-lg {
	    width: 98%;
	}
}